<header class="header">
  <nav class="nav">
    <a href="#" class="logo nav-link">José Beltrán</a>
    <button class="nav-toggle">
      🙂
    </button>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link ">Blog</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link ">Proyectos</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link ">Sobre mi</a></li>
      <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link ">Contacto</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1 class="text-center fs-2">✨🍭Página web personal🍭✨</h1>
</main>


